<!DOCTYPE HTML>
<html>
	<head>
		<title>Маринчка</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><strong>Мариночка</strong> - первый онлайн рынок</h2>
				<p>Защитись от коронавируса</p>
				<ul class="actions">
					<li><a href="/" class="button special">Перейти</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Преимущества Мариночки</h2>
					</header>
					<div class="features">
						<div class="feature">
							<i class="fa fa-diamond"></i>
							<h3>оригинальность</h3>
							<p>Продавай овощи не в жизни, а в интернетах.</p>
						</div>
						<div class="feature">
							<i class="fa fa-copy"></i>
							<h3>Качество</h3>
							<p>Мы говорим нет несвежим продуктам.</p>
						</div>
						<div class="feature">
							<i class="fa fa-paper-plane-o"></i>
							<h3>Удобство</h3>
							<p>Для покупки не нужно общаться с неприятными людьми вживую.</p>
						</div>
						<div class="feature">
							<i class="fa fa-save"></i>
							<h3>Скорость</h3>
							<p>Выставь свое предложение о продаже менее чем за минуту.</p>
						</div>
						<div class="feature">
							<i class="fa fa-envelope-o"></i>
							<h3>Актуальность</h3>
							<p>Во время ужасной пандемии это как никогда актуально.</p>
						</div>
					</div>
				</div>
			</section>

		<script src="static/js/jquery.min.js"></script>
            <script src="static/js/skel.min.js"></script>
            <script src="static/js/util.js"></script>
            <!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
            <script src="static/js/main.js"></script>
	</body>
</html>