{% extends "base.html" %}
{% block content %}
<!-- Banner -->
			<section id="banner">
				<h2><strong>Мариночка</strong> - первый онлайн рынок</h2>
				<p>Защитись от коронавируса</p>
				<ul class="actions">
					<li><a href="https://coronavirusstat.ru/" class="button special">Защититься</a></li>
				</ul>
				<ul class="actions">
					<li><a href="/" class="button special">К покупкам</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Преимущества Мариночки</h2>
					</header>
					<div class="features">
						<div class="feature">
							<i class="fa fa-diamond"></i>
							<h3>оригинальность</h3>
							<p>Продавай овощи не в жизни, а в интернетах.</p>
						</div>
						<div class="feature">
							<i class="fa fa-copy"></i>
							<h3>Качество</h3>
							<p>Мы говорим нет несвежим продуктам.</p>
						</div>
						<div class="feature">
							<i class="fa fa-paper-plane-o"></i>
							<h3>Удобство</h3>
							<p>Для покупки не нужно общаться с неприятными людьми вживую.</p>
						</div>
						<div class="feature">
							<i class="fa fa-save"></i>
							<h3>Скорость</h3>
							<p>Выставь свое предложение о продаже менее чем за минуту.</p>
						</div>
						<div class="feature">
							<i class="fa fa-envelope-o"></i>
							<h3>Актуальность</h3>
							<p>Во время ужасной пандемии это как никогда актуально.</p>
						</div>
					</div>
				</div>
			</section>
{% endblock %}