{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}

<h1>Добавить предложение</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
                               <div class="form-group">
                                    <label for="photo">Выберите файл</label>
                                    <input type="file" class="form-control-file" id="photo" name="file">
                                </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary", value="Добавить") }}</p>
    {{message}}
</form>
{% endif %}
<h1>Предложения</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - <a href="user/{{item.user.name}}">{{item.user.name}}</a>, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    {% if current_user == item.user %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-warning">Изменить</a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        </div>
        {% else %}
           <a href="{{ item.user.about }}" class="button11">{{ item.user.about }}</a>
    <div>
        </div>
    {% endif %}
    {% else %}

    <a href="/login">Для покупки нужно авторизоваться</a>
{% endif %}
</div>
{% endfor %}
{% endblock %}