{% extends "base.html" %}
{% block content %}
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adb2f9f50d5e54412cb77ae44da9db9ce37676593d0581d367cc71e26ba70b509&amp;source=constructor" width="100%" height="240" frameborder="0"></iframe>
<main role="main" class="container">
{% if current_user.is_authenticated %}
<h1>Добавить предложение</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.count.label }}<br>
        {{ form.count(class="form-control") }}<br>
        {% for error in form.count.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
      <input type=file name=file multiple accept="image/*,image/jpeg">
    <p>{{ form.submit(type="submit", class="btn btn-primary", value="Добавить") }}</p>
    {{message}}
</form>
{% endif %}
<h1>Предложения</h1>
{% for item in news%}
<div class="col-md1 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    {% if item.filename != None %}
    <ul id="image-popups">
        <li>
            <a href="{{item.filename}}" data-effect="mfp-zoom-in"><img src="{{ item.filename }}" width="100px" height="100px" ></a>
        </li></ul>
    {% endif %}
    <div class="aftor">
        Автор - <a href="/user/{{item.user.name}}">{{item.user.name}}</a>, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    {% if current_user == item.user %}
        <div>
            <a href="/news/{{ item.id }}" class="glo">Изменить</a>
            <a href="/news_delete/{{ item.id }}" class="glo">Удалить</a>
        </div>
        {% else %}
    <a class="glo_1">{{ item.count }}</a>
           <a href="{{ item.user.about }}" class="glo">Купить</a>
    <style>a.button11{width: calc(100% + 6*(1em*90/135) - 2px*2*2);
    }</style>
    <div>
        </div>
    {% endif %}
    {% else %}

    <a href="/login">Для покупки нужно авторизоваться</a>
{% endif %}
</div>
{% endfor %}
    </main>
{% endblock %}
