{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
{% if current_user.name == title%}
<form>
<h1>Добавление магазина</h1>
</form>
<form><h1>Ваши предложения</h1></form>
{% else %}
<h1>Предложения {{ title }}</h1>
{% endif %}
{% for item in news %}
{% if item.user.name == title %}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - <a href="user/{{item.user.name}}">{{item.user.name}}</a>, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    {% if current_user == item.user %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-warning">Изменить</a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        </div>
        {% else %}
           <a href="{{item.user.about}}" class="button11">{{ item.count }}</a>
    <div>
        </div>
    {% endif %}
    {% else %}
    <a href="/login">Для покупки нужно авторизоваться</a>
{% endif %}
</div>
{% endif %}
{% endfor %}
</main>
{% endblock %}